<h1>New Restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :adress %>
  <%= f.input :phone_number %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to all restaurant", restaurants_path %>
