
<div class="container border mt-5 p-3" style="width: 400px">

<div class="container border-bottom">
<h2 class="text-center border-bottom pb-3"><%= @restaurant.name %></h2>
<p><strong>Information :</strong></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.adress %></p>
<p><%= @restaurant.phone_number %></p>

</div>


<div class="container border-bottom">
<p><strong>Reviews :</strong></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= link_to "delete", review_path(review),
      data: {turbo_method: :delete, tubo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
</div>

<div class="container">
<p><%= link_to "Back to all restaurant", restaurants_path %></p>
<p><%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %></p>
</div>
</div>
